.flexRow {
  display: flex;
  flex-flow: row nowrap;
}

.flexColumn {
  display: flex;
  flex-flow: column nowrap;
}

.flexRowWrap {
  display: flex;
  flex-flow: row wrap;
}

.flexColumnWrap {
  display: flex;
  flex-flow: column wrap;
}

header {
  background-color: rgb(149, 164, 184);
  text-align: center;
  padding: 1rem 0 1rem 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header > div{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap:1rem;
  margin: 0 0 0 2rem;
}

header > div >h2{
color: white;
font-family: Montserrat, sans-serif;
}


header > div:nth-child(2) > button {
 padding: .3rem .5rem .3rem .5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .5rem;
  background-color: transparent;
  border:solid .13rem rgb(231, 231, 231);
  position: relative;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 700;
  color: rgb(236, 235, 235);
  border-radius: 2rem;
 transition: .3s;
}
header > div:nth-child(2) > button:hover {
  border:solid .13rem rgb(255, 255, 255);
  background-color: rgb(243, 243, 243);
  color: rgb(112, 112, 112);
}


header > div:nth-child(2) > button{
 
}


header > div:nth-child(2) {

  position: relative;
  left: -1rem;
}

header > div:nth-child(2) > button >img {
  width: 3rem;
}
header > div:nth-child(1) > img{
  width: 4rem;
}

.divContainerShoppingCart00 {
  position: absolute;
  z-index: 2;
  top: 4rem;
  right: 0rem;
  border: solid .1rem rgb(161, 161, 161);
  background-color: white;
  padding: 2rem .5rem 2rem .5rem;
  border-radius: .5rem;
}

.divContainerShoppingCart00 > div > div:nth-child(1) > h4{
 color:rgb(117, 117, 117);
 font-size: 1rem;
 font-family: Montserrat, sans-serif;
 width: 5rem;
text-align: center;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
background-color: rgb(216, 216, 216);
}

.divContainerShoppingCart00 > div > div:nth-child(2){
 padding: 1rem 0 1rem 0;
  justify-content:baseline;
 gap:.5rem;
 overflow: scroll;
 min-height: 5rem;
 max-height: 15rem;

}

.divContainerShoppingCart00 > div > div:nth-child(2)::-webkit-scrollbar-thumb {
  border: solid 0.1rem rgb(65, 80, 109);
  background-color: rgb(170, 169, 168);
  border-radius: 0.2rem;
  transition: 1s;
  box-shadow: -0.5vh 0vh 1vh 0vh rgba(93, 111, 114, 0.075);
}

.divContainerShoppingCart00 > div > div:nth-child(2)::-webkit-scrollbar {
  width: .5vw;
  height: 0rem;

  transition: 1s;
}


.divContainerShoppingCart00 > div > div >div > h4{
  color:rgb(117, 117, 117);
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  width: 5rem;
 text-align: center;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 }

 .divContainerShoppingCart00 > div > div >div > button {
 font-weight: 600;
 cursor: pointer;
  width: 5rem;
  color:rgb(117, 117, 117);
  font-size: 1rem;
  font-family: Montserrat, sans-serif;

 }

header > h2 {
  color: white;
}

.App {
  align-items: center;
}
main {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

main > section:nth-child(1) {
  margin: 2rem 0 0 0;
  gap:1rem;
}
main > section:nth-child(1) > h2 {
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
}
main > section:nth-child(1) > input {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  width: 9rem;
  font-weight: 700;
  outline: none;
}
main > section:nth-child(1) > div > h3 {
  font-family: Montserrat, sans-serif;
}

main > section:nth-child(2) {
  width: 65vw;
  gap: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content:left;

  padding: 2rem 1rem 1rem 1rem;
}

.divContainerEcommerce00 {
  padding: 0 1rem 1rem 1rem;
  margin: 2rem 0 00;
border-radius: .5rem .5rem 0 0;
  border: solid 0.1rem rgb(159, 161, 163);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.divContainerEcommerce00 > button {
  font-family: Montserrat, sans-serif; 
  font-size: 1.3rem;
  padding: .3rem;
  font-weight: 550;
  background-color: white;
  transition: .3s;
  outline: none;
  border:solid .1rem rgb(136, 136, 136);
}
.divContainerEcommerce00 > button:hover {
 
  background-color: rgb(223, 220, 220);
}

.divContainerEcommerce00 > div:nth-child(3) > h4:nth-child(2) {
  font-family: Montserrat, sans-serif;
  color: rgb(89, 91, 94);
  width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.divContainerEcommerce00 > div:nth-child(3) > h4:nth-child(1) {
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.divContainerEcommerce00 > h3 {
  font-family: Montserrat, sans-serif;
  text-align: center;
  width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.divContainerEcommerce00 > div:nth-child(4) {
  gap: 0.5rem;
}
.divContainerEcommerce00 > div:nth-child(4) > h4 {
  font-family: Montserrat, sans-serif;
}

.divContainerEcommerce00 > div:nth-child(5) {
  gap: 0.5rem;
}
.divContainerEcommerce00 > div:nth-child(5) > h4 {
  font-family: Montserrat, sans-serif;
}
.divContainerEcommerce00 > img {
  width: 10rem;
z-index: 1;
  position: relative;
  top: -1rem;
  border: solid 0.1rem rgb(196, 196, 196);
}

.App > div {
  margin: 1rem 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;

}

.App > div > button {
  font-size: 1.4rem;
  width: 2rem;
  font-family: Montserrat, sans-serif;
  border: solid 0.1rem rgb(153, 153, 153);
  cursor: pointer;
}
.divContainerComboBox00 {
  width: 8rem;
}

.divContainerComboBox00 > input {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  padding: 0.3rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.divContainerComboBox00 > div {
  border-left: solid 0.1rem rgb(129, 129, 129);
  border-right: solid 0.1rem rgb(129, 129, 129);
  border-bottom: solid 0.1rem rgb(129, 129, 129);
}

.divContainerComboBox00 > div > h3 {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  padding: 0.3rem;
  text-align: center;
}
.divContainerComboBox00 > div > h3:hover {
  cursor: pointer;
}
.divContainerComboBox00 > div > h3:hover {
  background-color: rgb(223, 223, 223);
}
