.flexRow {
  display: flex;
  flex-flow: row nowrap;
}

.flexColumn {
  display: flex;
  flex-flow: column nowrap;
}

.flexRowWrap {
  display: flex;
  flex-flow: row wrap;
}

.flexColumnWrap {
  display: flex;
  flex-flow: column wrap;
}

header {
  background-color: rgb(83, 108, 141);
  text-align: center;
padding: 1rem 0 1rem 0;
  width: 100%;
  justify-content:space-between;
align-items: center;
}
header>div>button{
  margin: 0 2rem 0 0 ;
  position: relative;
}
header>div{
 position: relative;
}

.divContainerShoppingCart00{
  position: absolute;
  top:2rem;
  right: .5rem;
  width: 10rem;
  background-color: coral;
}

header > h2 {
  color: white;
}

.App{
align-items: center;
}
main{
 width: 100%  ;

}

main > section:nth-child(1){
gap: 1rem;
border:solid .1rem green;
padding: 2rem;

  
  }

main > section:nth-child(2){
height: 25rem;
border:solid red .1rem;
gap: 1rem;
display: grid;
grid-template-columns: auto auto auto auto;
justify-content: center;

padding: 2rem;

}

.divContainerEcommerce00 {
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border:solid .1rem red;
  display: flex;
  align-items: center;
  gap: .5rem;
}
