@media only screen and (max-width: 750px) {
  header > div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:1rem;
    margin: 0 0 0 1rem;
  }
  
  main {
   flex-flow: column nowrap;
   align-items: center;
      }

      main > section:nth-child(2) {
       display: flex;
       flex-flow: column nowrap;
      }

      .App > div {
        margin: 1rem 0 0 0;
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
        justify-content: center;
      
      }

      .divContainerShoppingCart00 {
        top: 4.5rem;
      }
}